body {
	font-family: 'Yantramanav', Helvetica, sans-serif; 
	background: #fff;
}

#main {
	min-height: 480px;
	max-height: 480px;
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100%;
}

#main > what {
	background-color: #fff;
	max-height: 480px;
	max-width: 25%;
	min-width: 0%;
	overflow-y: scroll;
	display: inline-block;
	position: relative;
	float: left;
	margin: 0, auto;
	padding-left: 1%;
}

#main > what:focus {
	min-width: 30%;
}   

#main > where {
	background-color: #fff;
	min-height: 480px;
	max-height: 480px;
	width: 25%;
	overflow-y: hidden;
	display: inline-block;
	position: relative;
	float: left;
	margin: 0;
}


#main > why {
	background-color: #fff;
	max-height: 480px;
	max-width: 50%;
	min-width: 0%;
	overflow-y: hidden;
	display: inline-block;
	position: absolute;
	float: right;
	margin: 0, auto;
	z-index: 9999999999999999999999;
}

#main > why:focus {
	min-width: 30%;
	max-width: 40%;
}   

who, when {
	display: block;
	height: 4em;
	background: #fff;
}

when {
	width: 100%;
	bottom: 0;
}

what > ul {
	list-style-type: none;
}
/*what {
	
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-flow: row wrap; 
	flex-flow: row wrap; 
	width: 100%;
}*/
here {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-flow: row wrap; 
	flex-flow: row wrap;
	align-content: flex-start; 
	width: 100%;
	min-height: 0%;
	max-height: 33%;
	top: 0;
}
there {
	max-width: 40%;
}
there img{
	display: inline-block;
	height: 480px;
	z-index: 99999999999999999999999999999;
}
what div {
	position: relative;
	width: 60px;
	height: 60px;
	overflow: hidden;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 16px;
	margin-bottom: 16px;
	-webkit-box-flex: 1 0 10;
	-webkit-flex: 1 0 10; 
	-ms-flex: 1 0 10;
	flex: 1 0 10; 
}


what div img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

what div a {
	width: 100%;
	height: 100%;
}


what li {
	list-style-type: none;
	line-height: 2em;
	padding-right: 4em;
}

why > img {
	max-height: 480px;
	max-width: 30%;
}

what a {
	text-decoration: none;
	/*line-height: 1em;*/
	color: #fff;
	max-height: 7%;
}

what h2 {
	padding: 0;
	margin:0;
	font-weight: 300;
    font-size: 2em ;
    line-height: 1em;
    color: #000;
	max-height: 7%;
	padding-bottom: 1em;
	padding-right: 4em;
}
what h3 {
	font-weight: 300;
    font-size: 1em ;
    line-height: 2em;
    color: #000;
	padding: 0;
	margin: 0;
}

what h4 {
	font-weight: 400;
	font-size: 1.2em;
    color: #333;
    padding: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	max-height: 7%;
}

.cartodb_id {
	line-height: 2em;
	list-style-type: none;
	position: relative;
}

.cartodb_id h5 {
	font-weight: 300;
    font-size: .9em ;
	line-height: 1.2em;
    color: #000;
    padding:  1em 0 0 0 ;
	margin: 0;
}

h5 {
	font-weight: 300;
    font-size: .9em ;
	line-height: 1.5em;
    color: #000;
    padding:  1em 0 1em 0 ;
	margin: 0;
}

.cartodb_id h6 {
	font-size: 400;
	font-size: .8em;
	line-height: .8em;
    color: #333;
    padding: 0 0 1em 0; 
    margin: 0;
}

what > ul > li {
	/*line-height: 5%;*/
}

#topbar {
	position: relative;
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	height: 4em;
}

#brandbar {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	float: right;
    width: 74%;
	height: auto;
}
#brandbar img {
	float: right;
	max-height: 3em;
	padding-top: .2em;
}
#bug {
    width: 3em;
	height: 3em;
	display: inline-block;
    float: left;
    padding-right: .3em;
	position: absolute;
	bottom: 0;
}

#catchphrase {
	width: 60%;
    font-size: 1.6em;
    font-weight: 100;
	color: #000;
	bottom: 0;
	line-height: 2em;
	display: inline-block;
	margin: 0, auto;
	float: left;
	padding-bottom: 0;
}

#external {
	width: 75%;
    font-size: 1em;
    font-weight: 300;
	bottom: 0;
	height: 100%;
	line-height: 3em;
	display: inline-block;
	margin: 0, auto;
	float: right;
	padding: 0;
	text-align: right;
	text-decoration: none;
	z-index: 999999999999;
}

#external a {
	color: #F7F9EC;
	text-decoration: none;
}

#external :hover {
	color: #000;
}
#external img {
	height: 2em;
	line-height: 2em;
	margin-top: 1em;
}
.image-here {
    width: 100%;
    position: relative;
}


#description {
	width: 33%;
	display: inline-block;
	float: right;
	overflow-x: scroll;
	min-height: 100%;
}

#tablebar {
	position: relative;
	display: inline-block;
	float: left;
    width: 25%;
    height: 100%;
}

#tablebar h6 {
    padding: 0;
    margin: 0;
    line-height: 1em;
    padding-top: 1.2em;
    color: #fff;
}
.wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
    position: relative;
    float: left;
    background-color: none;
    z-index: 999;
    clear: left; 
}
.wrapper > a  {
	height: 100%;
	line-height: 2em;
	float: right;
	z-index: 99999999;
}
.wrapper > a {
	display: inline-block;
	height: 33%;
}
.wrapper > a > img {
	display: inline-block;
	height: 2em;
}

#menu {
    background-color: none;
	list-style-type:none;
	margin: 0;
	padding: 0;
    margin-right: 10px;
	position: absolute;
	width: 100%;
    height: 100%;
    display: inline-block;
	border: 0;
}

#menu > li {
    padding: 0;
    margin: 0;
	width: 100%;
    height: 100%;
	position: relative;
    width: 100%;
    list-style-type: none;
}

#menu > li > a {
	background-color:none;
	display:inline-block;
	text-decoration:none;
	z-index: 9999;
    height: 2em;
    position: relative;
}

#menu .button {
    width: 3.5em;
    position: relative;
    padding: 0;
}

#menu > li > a:hover {
	/*box-shadow: 2px 2px 6px rgba(0,0,0,.2);*/
	z-index: 9999;
}
}
.dropdown {
    display: none;
    /*left:-999em; /* Hides the drop down */
    padding: 1em;
    background-color: #fff;
	padding: 0;
	position:relative;
	z-index:9998;
	overflow-x: hidden;
	width: 100%;
    list-style-type: none;
	height: auto;
    
}
#drop {
	position: absolute;
	bottom: 0;
	margin-top: 0;
}
.drop {
    background-color: rgba(255,255,255,.97);
    display: none;
    height: 2.75em;
	font-size: .9em;
    font-weight: 300;
    letter-spacing: .03em;
	line-height: 2.75em;
	color: #999999;
}

.drop a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    float: none;
    top: 0;
	color: #888;
	left: 4px;
	width: 100%;
}

.drop:hover {
	background: linear-gradient(to right, #f7f9ec,  #fff);
	background-repeat: no-repeat;
	cursor: pointer;
}


#map {
	z-index: 0;
}

.tl-slidenav-next[style], .tl-slidenav-previous[style] {
	top: 0px !important;
}

.tl-storyslider[style] {
	height: 0px !important;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
#catchphrase {
	font-size: 1em;
	font-weight: 300;
	line-height: .88em;
	z-index: 999999999999999;
	padding-left: 4em;
	padding-top: .9em;
	display: block;
	float: none;
}
#external {
	font-size: .68em;
	font-weight: 400;
	line-height: 0;
	width: 80%;
	padding-top: 4px;
}
 #main, #page {
 }

 #main > where, #main > what, #main > why, #main > when {
	min-height: 200px;
	max-height: 300px;
	width: 100%;
	min-width: 100%;
 }
#main > where:focus {
	min-width: 100%;
	width: 100%;
 }   

#main > what, #main > who {
	min-height: 0;
	max-height: 180px;
	min-width: 100%;
	width: 100%;
}
#main > why {
	min-height: 0;
	max-height: 300px;
	max-width: 100%;
	min-width: 100%;
	position: relative;
}

#timeline-embed[style] {
	max-height: 30% !important;
}

there {
	width: 100%;
}

there img {
	display: inline-block;
	width: 100%;
	height:auto;
	
}
what {
	padding-top: 1em;
}
what h2 {
	font-size: 1.5em;
}
#brandbar img {
	max-height: 2em;
	padding-top: 1em;
}
#tablebar, #brandbar, #topbar {
	display: inline-block;
	width: 100%;
	height: auto;
}
}