html {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}


*, *:before, *:after {

	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;

}

body::-webkit-scrollbar { 
    display: none; 
}


body {

	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Helvetica, sans-serif; 
	background: #fff;
	font-size: 18px;
	display: block;
}

form, #txt {
	
	display: none;
	
}

h1 {
	
	margin: 0;
	
}

h2 {

	font-size: 1em;
	margin-bottom: .3em;
	height: auto;
	line-height: .95em;
	position: relative;
	top: 0px;
	bottom: auto;
	padding: 0;
	font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
	width: 100%;
	display: inline-block;
	float: left;
	margin-top: -.1em;
	margin-bottom: .3em;

}

h3 {
	font-weight: 300;
    font-size: .9em ;
    line-height: .9em;
	letter-spacing: .09em;
    color: #000;
	padding: 0;
	margin: 0;
}

h4 {

	font-size: .53em;
	position: relative;
	display: inline-block;
	height: auto;
	float: left;
	font-weight: 400;
	line-height: 1.4em;
    color: #444;
    padding: 0;
	padding-bottom: .3em;
	width: auto;
	height: auto;
	margin: 0;

}

h5 {
	font-weight: 300;
    font-size: .66em ;
	line-height: .89em;
    color: #000;
    padding:   0 0 0.33em 0 ;
	margin: 0;
}

h6 {

	font-size: .6em;
    padding: 0 0 1.6em 0; 
	height: auto;
	font-weight: 600;
	line-height: 1em;
    color: #555;
	margin: 0;
	letter-spacing: .03em;

}

h7 {
	
	font-weight: 700;
    font-size: 1em ;
    line-height: .7em;
    color: #fff;
	margin-top: -.1em;
	text-align: right;
	display: inline-block;
	float: right;
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

ul a {

	text-decoration: none;
	margin: 0;
	padding: 0;

}

li {
	list-style-type: none;
	line-height: 2em;
}

top {

	width: 100%;
	position: absolute;
	float: none;
	display: block;
	height: 100%;
	pointer-events: none;
	z-index: 4;
	-webkit-transform: translateZ(3);
}

when {

	background-color: none;
	width: 100%;
	max-width: 100%;
	display: inline-block;
	height: auto;
	top: 50%;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	pointer-events: none;
	-webkit-transform: translateZ(1);
}

why {

	background-color: none;
	height: auto;
	width: auto;
	position: fixed;
	top: 10px;
	left: 10px;
	bottom: 34px;
	right: 10px;
	display: block;
	overflow-y: hidden;
	overflow-x: hidden;
	pointer-events:none;
	z-index: 4;
	-webkit-transform: translateZ(3);

}
why a {

	pointer-events: auto;
}

#publish {
	
	pointer-events: auto;
	position: fixed;
	left: auto;
	top: auto;
	bottom: 34px;
	right: 10px;
	display: block;
	width: 150px;
	height: auto;
	
}
#publish img {
	
	width: 100%;
	height: auto;
	position: relative;
	display: inline-block;
	margin: 0;
}

.go {
	
	pointer-events: auto;
	position: absolute;
	margin-left: 36px;
	width: 25px;
	height: 25px;
	top: 1px;
	right: auto;
	bottom: auto;
	box-shadow: 0 1px 2px rgba(0,0,0,0.35);	
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
    url("images/refresh.svg");
    background-color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 13;
	-webkit-transform: translateZ(12);	

}

.go:hover {
	
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.08), 
      rgba(0, 0, 0, 0.08)
    ),
    url("images/refresh.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
}

.info {
	
	pointer-events: auto;
	position: absolute;
	margin-left: 66px;
	width: 25px;
	height: 25px;
	top: 1px;
	right: auto;
	bottom: auto;
	box-shadow: 0 1px 2px rgba(0,0,0,0.35);	
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
    url("images/info.svg");
    background-color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 13;
	-webkit-transform: translateZ(12);	
	
}

.info:hover {
	
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.08), 
      rgba(0, 0, 0, 0.08)
    ),
    url("images/info.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
}

.moreinfo {
	
	pointer-events: auto;
	position: absolute;
	margin-left: 0;
	width: 22px;
	height: 22px;
	top: 25px;
	right: 0;
	bottom: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.35);	
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
    url("images/info.svg");
    background-color: #cccccc;
	z-index: 13;
	-webkit-transform: translateZ(12);	
	
}

one, two, three {
	
	display: inline-block;
	float: left;
	margin: 0 auto;
	width: 25px;
	text-align: right;
	height: 100%;
}

one a, two a, three a, four a {
	
	text-decoration: none;
	color: #EEF4DE;
	
}

.highlight {
	
	color: #555555;
	
}

four {
	
	background-color: #EEF4DE;
	display: inline-block;
	float: right;
	margin: 0 auto;
	width: 22px;
	text-align: right;
	height: 22px;
	
}

four a {
	
	height: 22px;
	width: 22px;
	position: relative;
	display: inline-block;
	padding: 5px 5px 0 0;
	
}

one a:hover, two a:hover, three a:hover, four a h7:hover {
	
	color: #ccc;
	
}


help {
	
	width: auto;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	float: left;
	padding: 10px;

}

steps {

	width: 100px;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	float: right;
	padding: 0;
}

#helplabel {
	
	left: auto;
	width: auto;
	right: auto;
	float: none;
	position: fixed;
	height: auto;
	top: auto;
	bottom: auto;
	display: block;
	pointer-events: none;
	z-index: 11;
	-webkit-transform: translateZ(10);	
	
}

#helplabel.one {
	
	left: 37px;
	width: auto;
	right: auto;
	float: none;
	position: fixed;
	background-color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	top: 68px;
	bottom: auto;
	display: block;
	pointer-events: none;
	border-left: 1px solid #D93B20;
	outline: 0px solid #fff;
	box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.3);
	z-index: 11;
	-webkit-transform: translateZ(10);	
	
}

#helplabel.two {
	
	left: 37px;
	width: auto;
	right: 50%;
	float: none;
	position: fixed;
	background-color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	top: auto;
	bottom: 50%;
	display: block;
	pointer-events: none;
	border-bottom: 1px solid #D93B20;
	outline: 0px solid #fff;
	box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.3);
	z-index: 11;
	-webkit-transform: translateZ(10);	
	
}

#helplabel.three {
	
	left: auto;
	width: auto;
	right: 170px;
	float: none;
	position: fixed;
	background-color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	top: 10px;
	bottom: auto;
	display: block;
	pointer-events: none;
	border-right: 1px solid #D93B20;
	outline: 0px solid #fff;
	box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.3);
	z-index: 11;
	-webkit-transform: translateZ(10);	
	
}

.leaflet-bar {

	box-shadow: 0px 1px 2px #888888;
	border-radius: 0px;
	
}

.leaflet-bar a {
	
	height: 25px;
	width: 25px;
	line-height: 25px;
	
}

.leaflet-bar a:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

where {

	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: #EEF4DE;
	z-index: 0;
	-webkit-transform: translateZ(0);
	overflow: hidden;

}

#mainlabel {

	left: 50%;
	width: auto;
	right: 10px;
	float: none;
	position: fixed;
	background-color: none;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 0;
	top: 10px;
	bottom: 50%;
	display: block;
	pointer-events: none;
	box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.3);
	z-index: 11;
	-webkit-transform: translateZ(10);

}

#mainlabel.point {

	left: 50%;
	width: auto;
	right: 10px;
	float: none;
	position: fixed;
	background-color: none;
	background-image:
	radial-gradient(circle at 0 100%, rgba(255, 255, 255, 0) 15px, #fff 15px);
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	top: 68px;
	display: block;
	pointer-events: none;
	bottom: 50%;
	max-height: 50%;
	z-index: 11;
	-webkit-transform: translateZ(10);

}

#mainlabel.expand {

	right: 10px;
	left: 10px;
	width: auto;
	float: none;
	position: fixed;
	background-color: #fff;
	background-image: none;
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	top: 68px;
	display: block;
	pointer-events: none;
	bottom: 34px!important;
	z-index: 13;
	-webkit-transform: translateZ(12);

}

#mainlabel.search {

	left: auto;
	width: 160px;
	bottom: 50%;
	right: 10px;
	float: none;
	position: fixed;
	background-color: #fff;
	background-image: none;
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	top: 68px;
	display: block;
	pointer-events: none;
	max-height: 50%;
	z-index: 12;
	-webkit-transform: translateZ(11);
}

#mainlabel.list {
	
	right: 10px;
	left: 50%;
	width: auto;
	float: none;
	position: fixed;
	background-color: none;
	background-image:
	radial-gradient(circle at 0 100%, rgba(255, 255, 255, 0) 15px, #fff 15px);
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	top: 68px;
	display: block;
	pointer-events: none;
	bottom: 50%;
	max-height: 50%;
	z-index: 11;
	-webkit-transform: translateZ(10);
	
}

#mainlabel.point > a, #mainlabel.expand > a {

	text-decoration: none;
	color: #EEF4DE;
	bottom: 8px;
	position: absolute;
	width: auto;
	right: auto;
	font-size: .66em;
	bottom: 15px;
	left: 10px;
	pointer-events: auto;
	z-index: 11;
	-webkit-transform: translateZ(10);

}


here {

	display: inline-block;
	position: relative;
	width: 100%;
	max-height: 60%;
	height: auto;
	top: 0;
	bottom: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	pointer-events: auto;
	padding: .75em .5em 0 .6em;
	z-index: 7;
	-webkit-transform: translateZ(6);

}

there h6 {
	
	padding: 0 0 1.6em 0;
	
}

here > h6 {

    padding: .6em 0 0 0; 

}

here > h6 > a {

	text-decoration: none;
	color: #555;
	width: 100%;
	left: 20px;

}

here > a {

	text-decoration: none;
	color: #EEF4DE;
	top: 10px;
	position: absolute;
	width: auto;
	right: 10px;
	font-size: .66em;
	bottom: auto;
	left: auto;
	pointer-events: auto;
	z-index: 11;
	-webkit-transform: translateZ(10);

}

here > img {

	display: inline-block;
	position: relative;
	height: auto;
	bottom: 10px;
	top: 10px;
	left: 0;
	right: auto;
	overflow-y: hidden;
	max-height: 85%;
	max-width: 100%;
	pointer-events: auto;

}

there {

	display: inline-block;
	position: relative;
	height: auto;
	width: 100%;
	margin: 0;
	left: 0;
	overflow-y: scroll;
	bottom: auto;
	right: 0;
	padding: .1em .5em .5em .6em;
	pointer-events: auto;

}

#mainlabel.point text {
	
	height: 100%;
	padding-bottom: 20px;	
	
}

#mainlabel.point there {

	max-height: 40%;

}

#mainlabel.list there {
	
	max-height: 75%;
	bottom: 10px;
	top: 10px;
	
}

#mainlabel.list here {
	
	max-height: 20%;
	
}

#mainlabel.expand here {

	height: auto;
	max-height: auto;

}

#mainlabel.expand there {

	height: auto;
	max-height: 15%;
	top: -.3em;
	margin-bottom: 1em;
}


#mainlabel.search there {
	
	overflow-y: scroll;
	height: 70%;
	
}

embed {
	
	pointer-events: auto;
	
}

lightbox {

	display: block;
	margin: 0 auto;
	top: -1.2em;
	left: 0;
	right: auto;
	position: relative;
	height: auto;
	max-height: 60%;
	width: auto;
	float: left;
	width: 100%;
	overflow-y: hidden;
	bottom: auto;
	padding: 0 .5em .5em .5em;

}

lightbox img {

	max-width: 100%;
	width: auto;
	max-height: 100%;
	display: inline-block;
	float: left;
	position: relative;
	bottom: auto;
	top: 0;
	left: 0;
	right: auto;
	margin: 0 auto;
	overflow-y: hidden;
	pointer-events: auto;

}

images {

	position: absolute;
	width: auto;
	max-height: 72px;
	bottom: 0;
	top: auto;
	left: auto;
	min-height: 50px;
	overflow: auto;
	right: 0;
	margin: 0, auto;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-wrap: wrap;
	-webkit-flex-flow: row wrap; 
	-webkit-box-flow: row wrap; 
	-moz-box-flow: row wrap; 
	flex-flow: row wrap;
	
	-webkit-box-align: end;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end; 

	background-color: none;
	pointer-events: auto;	
	float: right;
	padding: 0 0 .5em .5em;
	z-index: 13;

} 

#mainlabel.point images {
	
	width: 52px;
	height: 52px;
	
}

#mainlabel.expand images {
	
	overflow: auto;
	
}

#mainlabel a:hover {

	 color: #D93B20;

}

.items {

	-webkit-box-flex: 1 0 10;
	-moz-box-flex: 1 0 10;
	-webkit-flex: 1 0 10; 
	-ms-flex: 1 0 10;
	flex: 1 0 10; 
	pointer-events: auto;
	float: right;
	position: relative;
	width: 44px;
	height: 44px;
	overflow: hidden;
	width: 33px;
	height: 33px;
	margin-left: 0px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;

}
.items img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.items a {
	width: 100%;
	height: 100%;
	pointer-events: auto;

}

.external {

	color: #EEF4DE;
	text-decoration: none;
	right: 0;
	position: absolute;
	pointer-events: auto;

}

#menu {
    background-color: none;
	list-style-type:none;
	margin: 0, auto;
	padding: 0;
	position: relative;
	width: 150px;
    height: auto;
    display: inline-block;
	border: 0;
	float: right;
	right: 0;
	left: auto;
	pointer-events: auto;

}
#menu > li {
    padding: 0;
    margin: 0;
	width: 100%;
    height: 100%;
	position: relative;
    width: 100%;
    list-style-type: none;
	pointer-events: auto;

}
#menu > li > a {
	background-color:none;
	display:inline-block;
	text-decoration:none;
    height: 52px;
    position: relative;
	pointer-events: auto;
}
#menu > li > a > img {
	
	height: 100%;
	width: auto;
	
}
#menu .button {
    width: 54px;
    position: relative;
    padding: 10px 0 0 5px;
	pointer-events: auto;

}
#menu > li > a:hover {
	/*box-shadow: 2px 2px 6px rgba(0,0,0,.2);*/
	pointer-events: auto;

}

.dropdown {
    display: block;
    padding: 1em;
    background-color: #fff;
	padding: 0;
	position:relative;
	overflow-x: hidden;
	width: 100%;
    list-style-type: none;
	height: auto;
	pointer-events: none;
	z-index: 14;
	box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.3);
	-webkit-transform: translateZ(13);

}

#drop {
	position: absolute;
	bottom: 0;
	margin: 0;
	height: auto;
	pointer-events: auto;
}

.drop {
    background-color: rgba(255,255,255,.97);
    display: none;
    height: 2.75em;
	font-size: .9em;
    font-weight: 300;
    letter-spacing: .03em;
	line-height: 2.75em;
	color: #999999;
	pointer-events: auto;
}
.drop a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    float: none;
    top: 0;
	color: #888;
	left: 4px;
	width: 100%;
	pointer-events: auto;
}
.drop:hover {
	background: linear-gradient(to right, #EEF4DE,  #fff);
	background-repeat: no-repeat;
	cursor: pointer;
	pointer-events: auto;
}

#mySearch {

	outline: none;
	border:0px solid #dbdbdb;
	height: 100%;
	display: inline-block;
	width: auto;
	height: auto;
	right: 25px;
	left: 66px;
	top: 40%;
	bottom: 11px;
	position: absolute;
	text-align: left;
	margin: 0 auto;
	float: left;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.2),  #EEF4DE);
	background-color: none;
	pointer-events: auto;

}

.search {

	display: inline-block;
	bottom: 56px;
	right: 10px;
	top: 33px;
	left: auto;
	height: 28px;
	width: 28px;
	margin: 0;
	float: right;
	background: none;
	background-color: none !important;
	border:0;
	padding: 0;
	position: fixed;
	float: none;
	pointer-events: auto;

}
.search img {

	display: inline-block;
	background-color: rgba(255, 255, 255, 0.1);
	position: fixed;
	top: 36px;
	right: 10px;
	bottom: 56px;
	height: 23px;
	width: auto;
	left: auto;
	float: none;
	pointer-events: auto;

}

#wrapper {

	display: inline-block;
	position: fixed;
    width: auto;
	min-width: 100%;
    height: auto;
    background-color: none;
	top: 50%;
	font-weight: 400;
    font-size: .8em ;
    line-height: 1em;
	margin: 0;
	padding: 0;
	pointer-events: none;
	float: none;
	z-index: 3;
	-webkit-transform: translateZ(2);

}
#wrapper a {

	text-decoration: none;
    color: #000;
	outline: none;
	pointer-events:auto;
	overflow-x: visible;
	width: auto;

}

#wrappertwo {

	display: inline-block;
	position: relative;
    width: auto;
	min-width: 100%;
    height: 50px;
    background-color: none;
	top: 0;
	font-weight: 400;
    font-size: .8em ;
    line-height: 1em;
	margin: 0;
	padding: 0;
	pointer-events: none;
	z-index: 6;

}

.tllabel {

	background-color: none;
	border: 0px solid white;
	width: 10%;
	height: 50px;
	display: inline-block;
	position: absolute;
	font-weight: 300;
    font-size: .65em ;
    line-height: 35px;
	border-left: 1px solid #fff;
	pointer-events:none;
	padding: 8px 0 0 4.2px;

}

.tlnav {

	background-color: none;
	border: 0px solid white;
	min-width: 20px;
	height: 44px;
	display: inline-block;
	position: relative;
	font-weight: 300;
    font-size: .65em ;
    line-height: 20px;
	margin: 0;
	padding: 0;
	pointer-events:none;

}

#prevarrow {

	top:60%;
	left:0;
	right: auto;
	bottom: auto;
	position: fixed;
	left: 2%;
	width: 5%;
	pointer-events: auto;
	border-left: 0px solid #fff;
	z-index: 3;

}

#nextarrow {

	top: 61%;
	position: fixed;
	right: 10px;
	width: 30px;
	pointer-events: auto;
	border-left: 0px solid #fff;
	z-index: 3;

}

.tltab {

	background-color: #EEF4DE;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	min-width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	cursor: pointer;
	pointer-events: auto;
	top: 15px;
	overflow: visible;
	pointer-events: auto;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
	
}
.tltab:hover {
	background-color: rgba(255, 255, 255, 0.5);
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	pointer-events: auto;
	height: 50px;
	top: 0;
	overflow-x: visible;
	width: auto;
	pointer-events: auto;

}
.tltab.selected {
	background-image:
	radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 14px, rgba(255, 255, 255, 0.7) 13px);
	background-color: rgba(255, 255, 255, 0);
	border-right: 1px solid #D93B20;
	border-left: 1px solid #D93B20;
	border-top: 1px solid #D93B20;
	outline: 0px solid #fff;
	pointer-events: auto;
	height: 35px;
	top: 0;
	overflow-x: visible;
	width: auto;
	pointer-events: auto;

}
.tltab span {	
	display:none;
	height:auto;
	min-width:250px;
	width: auto;
	position:absolute;
	top: 0px;
	font-weight: 400;
    font-size: .7em ;
    color: #000;
    padding:   0 0 0 4.2px ;
	margin: 0;	
	overflow-x: visible;
	text-shadow:
	   -1px -1px 0 #fff,  
	    1px -1px 0 #fff,
	    -1px 1px 0 #fff,
	     1px 1px 0 #fff;

}
.tltab:hover span, [title~="sfhover"] span {	
    display:block;
	overflow: visible;
	min-width:250px;
	width: auto;	
}

* html a span { /*this is for IE as it positions the box to the right of the image */
	margin-left:-50px;
	margin-top:50px;
	overflow: visible;

}

@media all and (min-width: 480px) {
	
	images {
		
		width: auto;
		max-height: 23%;
		
	}
	
 	#mainlabel.point images {
	
		width: auto;
	
	}
	
	#mainlabel.point > a, #mainlabel.expand > a {

		top: 10px;
		right: 10px;
		bottom: auto;
		left: auto;

	}

}

@media all and (min-width: 600px) {

#mainlabel.list {
	
	right: 160px;
	
}

#mainlabel.point there {

	display: inline-block;

}


}

@media all and (min-width: 768px) {

	h2 {

		font-size: 1.2em ;
	    line-height: 1em;

	}

	h4 {

		font-size: .6em;
		overflow-y: hidden;

	}

	h6 {

		font-size: .66em;

	}

	#mainlabel.point {

		right: 10px;

	}

	#mainlabel.point there {

		padding: 0 .5em 0 .6em;	

	}

	lightbox img {

		width: auto;
		max-height:88%;
		max-width: 100%;
		bottom: auto;
		right: auto;

	}

	lightbox {

		position: relative;
		width: 75%;
		float: left;
		height: 100%;
		max-height: 100%;
		display: inline-block;
		padding-left: .6em;
		top: 0;

	}

	#mainlabel.expand images {

		margin: 6px 5px 0 0;

	}

	.items {

		width: 44px;
		height: 44px;

	}

}

@media all and (orientation:portrait) {
    /* Styles for Portrait screen */


}

@media all and (orientation:landscape) {

    /* Styles for Landscape screen */

	#mainlabel.point, #mainlabel.expand {

		right: 10px;

	}

	lightbox {

		max-height: 100%;
		width: 60%!important;
		float: left;
		margin: 0 auto;
		display: inline-block;
		top: .6em;
		height: 100%;
		min-height: 100%;

	}
	
	#mainlabel.point text {
		
		display: inline-block;
		pointer-events: auto;
		width: 100%;
		float: left;		
		margin: 0 auto;
		height: 100%;
		right: 30%;
		padding-bottom: 20px;	
		
	}
	
	#mainlabel.expand text {

		display: inline-block;
		position: relative;
		pointer-events: auto;
		width: 26%;
		float: right;
		margin: 0 auto;
		right: 12%;	
		height: 100%;
		padding-bottom: 20px;

	}

	#mainlabel.point > a {

		top: auto;
		right: 10px;
		bottom: 7px;
		left: auto;

	}
	
	#mainlabel.expand > a {
		
		top: auto;
		right: 52px;	
		bottom: 7px;
		left: auto;
		
	}
	
	#mainlabel.expand here, #mainlabel.expand there {

		padding-right: 0;

	}
	
	#mainlabel.expand here h6 {
		
		padding-bottom: .6em;
		
	}
	
	 #mainlabel.expand there {

		min-height: 50%;
		max-height: auto;
		width: 100%;
		height: auto;
		bottom: 0;
		padding: .06em 0 0 .6em;
		overflow-y: scroll;			

	}

	#mainlabel.expand images {

		position: absolute;
		width: 13%;
		min-height: auto;
		max-height: 100%;
		height: auto;
		bottom: auto;
		max-height: auto;
		padding-bottom: .6em;
		overflow-y: scroll;

	}
	
	#mainlabel.point images {
		
		position: absolute;
		width: 30%;
		height: 52px;
		bottom: auto;
		padding-bottom: .20px;
		overflow-y: scroll;		
		
	}
	
	#mainlabel.search > here {

		padding: .675em;

	}

	#mainlabel.point here {

		max-height: 55%;

	}


	@media all and (min-width: 768px) {

		#mainlabel.point images {

			min-height: auto;
			max-height: 100%;
			height: auto;
			bottom: auto;
			max-height: auto;

		}
		
		#mainlabel.point text {
			
			width: 70%;
			
		}

		#mainlabel.point there {

			display: inline-block;

		}

		#mainlabel.expand > a {
			
			top: auto;
			right: auto;
			bottom: 15px;
			left: 10px;
			
		} 
		
		#mainlabel.point > a {

			top: auto;
			right: auto;
			bottom: 15px;
			left: 10px;

		}
		
	}

	@media all and (min-width: 960px) {
	
		#mainlabel.point {

			right: 170px;

		}
		
		#mainlabel.expand images {
			
			width: 15%;
			
		}

		#mainlabel.expand text {
			
			overflow-y: hidden;
			width: 19%;
			right: 15.5%;
			
		}

		#mainlabel.expand lightbox{

			top: .75em;
			width: 66%!important;

		}
		
		#mainlabel.expand > a {
			
			top: auto;
			right: auto;
			bottom: 15px;
			left: 67%;
			
		} 


	}


	@media all and (min-width: 1140px) {

	lightbox img {

		margin: 0;
		overflow-y: hidden;
		min-height: auto!important;
		max-height: 97.5%;
		max-width: 100%;
		bottom: 0;
		top: 0;

	}

	#mainlabel.list {

		right: auto;

	}

	#mainlabel.expand here, #mainlabel.expand there {

		width: 100%;
		float: left;

	}

}
}

