html {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}


*, *:before, *:after {

	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;

}

body::-webkit-scrollbar { 
    display: none; 
}


body {

	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Helvetica, sans-serif; 
	background: #fff;
	font-size: 18px;
	display: block;
}

form, #txt {
	
	display: none;
	
}

h2 {

	font-size: 1em;
	line-height: 1em;
	position: relative;
	top: 0;
	bottom: auto;
	padding: 0;
	font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
	width: 100%;
	display: inline-block;
	float: left;
	margin: 0;

}

h3 {
	font-weight: 400;
    font-size: .8em ;
    line-height: 2em;
	letter-spacing: .02em;
    color: #000;
	padding: 0;
	margin: 0;
}

h4 {

	font-size: .58em;
	position: relative;
	display: inline-block;
	height: auto;
	float: left;
	font-weight: 400;
	line-height: 1.5em;
    color: #444;
    padding: 10px 10px 10px 0;
	width: auto;
	height: auto;
	margin: 0;

}

h5 {
	font-weight: 300;
    font-size: .66em ;
	line-height: 2em;
    color: #000;
    padding:   0 0 0.33em 0 ;
	margin: 0, auto;
	letter-spacing: 0.03em;
}

h6 {

	font-size: .6em;
    padding: 0 0 10px 0; 
	min-height: 1em;
	margin: 0;
	bottom: auto;
	top: auto;
	font-weight: 600;
	line-height: 1em;
    color: #555;
	letter-spacing: .03em;

}

h7 {
	
	font-weight: 700;
    font-size: 1em ;
    line-height: .7em;
    color: #fff;
	margin-top: -.1em;
	text-align: right;
	display: inline-block;
	float: right;
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

ul a {

	text-decoration: none;
	margin: 0;
	padding: 0;
	line-height: 1em;
	height: 1em;

}

ul h5, ul h6 {
	
	margin: 0;
	padding-left: 10px;
}
ul h6 {
	
	padding-top: 0;
	padding-bottom: 25px;
}
#mainlabel.search > h6 {

	margin-top: 0;
	padding-left: 10px;
	padding-top: 10px;
	
}
#mainlabel.list > h6 {
	
	padding: 10px;
	
}
li {
	list-style-type: none;
	line-height: 2em;
}

top {

	width: 100%;
	position: absolute;
	float: none;
	display: block;
	height: 100%;
	pointer-events: none;
	z-index: 4;
	-webkit-transform: translateZ(3);
}

when {

	background-color: none;
	width: 100%;
	max-width: 100%;
	display: inline-block;
	height: auto;
	top: 50%;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	pointer-events: none;
	-webkit-transform: translateZ(1);
}

why {

	background-color: none;
	height: auto;
	width: auto;
	position: fixed;
	top: 10px;
	left: 10px;
	bottom: 34px;
	right: 10px;
	display: block;
	overflow-y: hidden;
	overflow-x: hidden;
	pointer-events:none;
	z-index: 5;
	-webkit-transform: translateZ(4);

}
why a {

	pointer-events: auto;
}

#publish {
	
	pointer-events: auto;
	position: fixed;
	left: auto;
	top: auto;
	bottom: 20px;
	right: 10px;
	display: block;
	width: 150px;
	height: auto;
	
}
#publish img {
	
	width: 100%;
	height: auto;
	position: relative;
	display: inline-block;
	margin: 0;
}

#go {
	
	display: none;
	pointer-events: auto;
	position: absolute;
	margin: 0, auto;
	width: 25px;
	height: 25px;
	top: 27px;
	right: 0;
	bottom: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.35);	
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
    url("images/refresh.svg");
    background-color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 13;
	-webkit-transform: translateZ(12);	

}

#go:hover {
	
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.08), 
      rgba(0, 0, 0, 0.08)
    ),
    url("images/refresh.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
}

#go.close {
	
	display: block;
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
    url("images/ex.svg");
    background-color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 15;
	-webkit-transform: translateZ(14);		
	
}
.username {

	position: absolute;	
	display: inline-block;
	margin: 0, auto;
	width: auto;
	height: 25px;
	top: 27px;
	left: 66px;
	max-width: 30%;
	bottom: 0;
	float: right;
	color: #EEF4DE;
	text-decoration: none;	
	
}

.leaflet-bar {

	box-shadow: 0px 1px 2px #888888;
	border-radius: 0px;
	
}

.leaflet-bar a {
	
	height: 25px;
	width: 25px;
	line-height: 25px;
	
}

.leaflet-bar a:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

where {

	width: 100%;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	z-index: 0;
	-webkit-transform: translateZ(0);
	overflow: hidden;

}
there {
	
	overflow-y: scroll;
	height: 90%;
	position: relative;
	display: inline-block;
	float: left;
	bottom: 0;
	top: 0;
	margin: 0, auto;
	width: 100%;
}
#mainlabel {
	
	display: block;
	height: 0;
    background-color: none;
	top: 50%;
	width: 100%;
	bottom: auto;
	position: fixed;
    float: none;
	pointer-events: none;
	z-index: 11;
	-webkit-transform: translateZ(10);	
}

#mainlabel.point {

	display: block;
	height: auto;
    background-color: none;
	top: 50%;
	width: 80%;
	bottom: auto;
	height: auto;
	min-height: 170px;
	right: 10%;
	left: 10%;
	position: fixed;
    float: none;
	pointer-events: none;
	z-index: 0;
	-webkit-transform: translateZ(0);	

}

#mainlabel.expand {

	display: inline-block;
	height: auto;
    background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.35);	
	top: 64px;
	width: auto;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
    float: none;
	pointer-events: auto;
	z-index: 11;
	-webkit-transform: translateZ(10);	

}

#mainlabel.search {

	left: auto;
	width: 160px;
	bottom: 36px;
	right: 10px;
	float: none;
	position: fixed;
	background-color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	top: 72px;
	display: block;
	pointer-events: none;
	z-index: 12;
	-webkit-transform: translateZ(11);
}

#mainlabel.list {
	
	right: 10px;
	left: 50%;
	width: auto;
	float: none;
	position: fixed;
	background-color: none;
	background-image:
	radial-gradient(circle at 0 100%, rgba(255, 255, 255, 0) 10px, #fff 9px);
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	top: 72px;
	display: block;
	pointer-events: none;
	bottom: 50%;
	max-height: 50%;
	z-index: 11;
	-webkit-transform: translateZ(10);
	
}
#mainlabel.list h6 {
	
	z-index: 11;
	width: 100%;
	height: 1em;
	-webkit-transform: translateZ(10);
	
}
#mainlabel.list text {
	
	display: inline-block;
	z-index: 11;
	width: 100%;
	height: auto;
	min-height: 120px;
	max-height: 100%;
	bottom: 0;
	top: auto;
	left: 0;
	margin-right: 10px;
	margin-top: 10px;
	background-color: none;
	-webkit-transform: translateZ(10);
	
}
#mainlabel > a {

	position: relative;
	display: none!important;
	text-decoration: none;
	text-align: right;
	color: #EEF4DE;
	font-size: .66em;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	float: right;
	width: 30%;
	margin: 0 10px 0 0;
	pointer-events: auto;
	z-index: 11;
	-webkit-transform: translateZ(10);

}

#range {
	
	position: absolute;
	font-size: .56em;
	right: auto;
	left: 50%;
	text-align: left;
	width: auto;
	letter-spacing: 0;
	margin: 0 auto auto 12px;
	height: 15px;
	line-height: 15px;
	color: #777;
	vertical-align: top;
	text-shadow:
	-1px -1px 0 #fff,  
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
	background-color: rgba(255,255,255,0.4);
}

#mainlabel.expand > #range {
	
	position: relative;
	display: inline-block;
	float: right;
	left: auto;
	bottom: auto;
	text-align: right;
	line-height: 1em;
	height: 1em;
	margin: -2em auto 1em 0;
	top: auto;
	right: 10px;
	width: auto;
	
}

#title {
	
	width: 100%;
	height: auto;
}

#external {

	text-decoration: none;
	right: 0;
	position: relative;
	display: inline-block;
	pointer-events: auto;
	top: auto;
	right: auto;
	bottom: auto;
	float: left;
	width: 100%;
	margin: 5px, auto;
	left: 10px;
	line-height: 10px;

}

.link {
	
	text-decoration: none;
	text-align: right;
	color: #EEF4DE;
	font-size: .66em;
	width: auto;
	float: right;
	margin: 0, auto;
	display: inline-block;
	bottom: 0;
}

.tl {
	
	text-decoration: none;
	text-align: right;
	color: #EEF4DE;
	font-size: .66em;
 	width: auto;
	left: 0;
	right: auto;
	float: left;
	margin: 0, auto;
	position: absolute;
	display: inline-block;
}


here {

	display: inline-block;
	position: absolute;
	width: auto;
	float: left;
	left: 50%;
	right: 10%;
	height: auto;
	top: 35px;
	bottom: auto;
	margin: 0, auto;
	overflow-y: auto;
	overflow-x: hidden;
	pointer-events: auto;
	padding: 10px 10px 10px 10px;
	background-color: none;
	z-index: 0;
	-webkit-transform: translateZ(0);

}
here a {

	text-decoration: none;
	color: #000;	
	
}
text a {
	
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.activate {

	text-decoration: none;
	margin: 0, auto;
	height: 100%;
	width: 100%;
	pointer-events: auto;
	display: inline-block;

}

text {

	display: none;
	position: relative;
	height: auto;
	width: auto;
	float: left;
	left: 10px;
	margin-right: 10%;
	margin-top: 85px;
	margin-bottom: 36px;
	top: auto;
	bottom: 0;
	overflow-y: scroll;
	padding: 10px;
	pointer-events: auto;
	background-color: #fff;

}


#mainlabel.point here {
	
	background-color: #fff;
	min-height: 50px;
	border-left: 1px solid #D93B20;
	box-shadow: 0 1px 1px rgba(0,0,0,0.35);	
}


embed {
	
	pointer-events: auto;
	display: inline-block;
	float: left;
	position: relative;
	bottom: auto;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	overflow-y: hidden;
	
}

lightbox {

	display: block;
	margin: 0 auto;
	top: 10px;
	left: 0;
	right: auto;
	position: relative;
	min-height: 60%;
	max-height: 98%;
	width: auto;
	float: left;
	width: 100%;
	overflow-y: hidden;
	bottom: 40%;
	padding: 0 .5em .5em .5em;

}

lightbox img {

	max-width: 100%;
	width: auto;
	max-height: 100%;
	display: inline-block;
	float: left;
	position: relative;
	bottom: auto;
	top: 0;
	left: 0;
	right: auto;
	margin: 0 auto;
	overflow-y: hidden;
	pointer-events: auto;

}

images {

	position: absolute;
	width: 49.9%;
	bottom: 0;
	top: 36px;
	right: 50%;
	left: auto;
	height: 100%;
	overflow: auto;
	overflow-y: scroll;
	margin: 0 0 10px 10px;
	float: right;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-wrap: wrap;
	-webkit-flex-flow: row wrap; 
	-webkit-box-flow: row wrap; 
	-moz-box-flow: row wrap; 
	flex-flow: row wrap;

	background-color: none;
	pointer-events: auto;	
	padding: 0 0 10px 10px;
	z-index: 13;

} 

.items, .iframe {

	-webkit-box-flex: 1 0 10;
	-moz-box-flex: 1 0 10;
	-webkit-flex: 1 0 10; 
	-ms-flex: 1 0 10;
	flex: 1 0 10; 
	pointer-events: auto;
	float: right;
	position: relative;
	width: 28px;
	height: 28px;
	overflow: hidden;
	margin-left: 0px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;

}
.items img, .iframe img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.items a, .iframe a {
	width: 100%;
	height: 100%;
	pointer-events: auto;

}


#mainlabel.point images {
	
	overflow: auto;
	height: 48px;
	width: 48px;
	background-color: #fff;
}

#mainlabel.expand #external {
	
	position: relative;
	top: 0;
	bottom: auto;
	left: auto;
	margin: 0, auto;
	text-align: left;
	padding: 0;
	width: 82%;
	padding-left: 10px;
	padding-top: 10px;
	
}
#mainlabel.expand here {
	
	position: relative;
	display: inline-block;
	right: auto;
	float: left;
	left: auto;
	top: 0;
	width: 82%;
	bottom: auto;
	right: auto;
	height: auto;
	z-index: 11;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0, auto;
	
}
	
#mainlabel.expand text {

	display: inline-block;
	position: relative;
	pointer-events: auto;
	float: left;
	width: 82%;
	height: auto;
	max-height: 24%;
	margin: 0 0 auto 0;
	top: auto;
	bottom: 0;
	padding: 0;
	background-color: none;
	overflow: auto;
	overflow-y: scroll;

}

#mainlabel.expand images {

	position: relative;
	display: inline-block;
	right: 0;
	left: auto!important;
	top: 0;
	width: 13%;
	bottom: 10px;
	min-height: auto;
	height: auto;
	max-height: 34%;
	overflow-y: scroll;
	margin: 0, auto;
	float: right;
	background-color: none!important;
	text-align: left;

}


a:hover {

	 color: #D93B20;

}

#menu {
    background-color: none;
	list-style-type:none;
	margin: 0, auto;
	padding: 0;
	position: relative;
	width: 150px;
    height: auto;
    display: inline-block;
	border: 0;
	float: right;
	right: 0;
	left: auto;
	pointer-events: auto;

}
#menu > li {
    padding: 0;
    margin: 0;
	width: 100%;
    height: 100%;
	position: relative;
    width: 100%;
    list-style-type: none;
	pointer-events: auto;

}
#menu > li > a {
	background-color:none;
	display:inline-block;
	text-decoration:none;
    height: 52px;
    position: relative;
	pointer-events: auto;
}
#menu > li > a > img {
	
	height: 100%;
	width: auto;
	
}
#menu .button {
    width: 54px;
    position: relative;
    padding: 10px 0 0 5px;
	pointer-events: auto;

}
#menu > li > a:hover {
	/*box-shadow: 2px 2px 6px rgba(0,0,0,.2);*/
	pointer-events: auto;

}

.dropdown {
    display: block;
    padding: 1em;
    background-color: #fff;
	padding: 0;
	position:relative;
	overflow-x: hidden;
	width: 100%;
    list-style-type: none;
	height: auto;
	pointer-events: none;
	z-index: 14;
	box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.3);
	-webkit-transform: translateZ(13);

}

#drop {
	position: absolute;
	bottom: 0;
	margin: 0;
	height: auto;
	pointer-events: auto;
}

.drop {
    background-color: rgba(255,255,255,.97);
    display: none;
    height: 2.75em;
	font-size: .9em;
    font-weight: 300;
    letter-spacing: .03em;
	line-height: 2.75em;
	color: #999999;
	pointer-events: auto;
}
.drop a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    float: none;
    top: 0;
	color: #888;
	left: 4px;
	width: 100%;
	pointer-events: auto;
}
.drop:hover {
	background: linear-gradient(to right, #EEF4DE,  #fff);
	background-repeat: no-repeat;
	cursor: pointer;
	pointer-events: auto;
}

#mySearch {

	outline: none;
	border:0px solid #dbdbdb;
	height: 100%;
	display: inline-block;
	width: auto;
	height: 25px;
	right: 25px;
	left: 66px;
	top: 0;
	bottom: auto;
	position: absolute;
	text-align: left;
	margin: 0 auto;
	float: left;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.2),  #EEF4DE);
	background-color: none;
	pointer-events: auto;

}

.search {

	display: inline-block;
	bottom: 56px;
	right: 10px;
	top: 33px;
	left: auto;
	height: 28px;
	width: 28px;
	margin: 0;
	float: right;
	background: none;
	background-color: none !important;
	border:0;
	padding: 0;
	position: fixed;
	float: none;
	pointer-events: auto;

}
.search img {

	display: inline-block;
	background-color: rgba(255, 255, 255, 0.1);
	position: fixed;
	top: 36px;
	right: 10px;
	bottom: 56px;
	height: 23px;
	width: auto;
	left: auto;
	float: none;
	pointer-events: auto;

}

#wrapper {

	display: inline-block;
	position: fixed;
    width: auto;
	min-width: 100%;
    height: auto;
    background-color: none;
	top: 50%;
	font-weight: 400;
    font-size: .8em ;
    line-height: 1em;
	margin: 0;
	padding: 0;
	pointer-events: none;
	float: none;
	z-index: 4;
	-webkit-transform: translateZ(3);

}
#wrapper a {

	text-decoration: none;
    color: #000;
	outline: none;
	pointer-events:auto;
	overflow-x: visible;
	width: auto;

}

#wrappertwo {

	display: inline-block;
	position: relative;
    width: auto;
	min-width: 100%;
    height: 50px;
    background-color: none;
	top: 0;
	font-weight: 400;
    font-size: .8em ;
    line-height: 1em;
	margin: 0;
	padding: 0;
	pointer-events: none;
	z-index: 6;

}

.tllabel {

	background-color: none;
	border: 0px solid white;
	width: 10%;
	height: 50px;
	display: inline-block;
	position: absolute;
	font-weight: 300;
    font-size: .65em ;
    line-height: 42px;
	pointer-events:none;
	padding: 8px 0 0 4.2px;

}

.tlnav {

	background-color: none;
	border: 0px solid white;
	min-width: 20px;
	height: 44px;
	display: inline-block;
	position: relative;
	font-weight: 300;
    font-size: .65em ;
    line-height: 20px;
	margin: 0;
	padding: 0;
	pointer-events:none;

}

#prevarrow {

	top:60%;
	left:10px;
	right: auto;
	bottom: auto;
	position: fixed;
	width: 30px;
	pointer-events: auto;
	border-left: 0px solid #fff;
	z-index: 3;

}

#nextarrow {

	top: 60%;
	position: fixed;
	right: 0;
	left: auto;
	width: 30px;
	pointer-events: auto;
	border-left: 0px solid #fff;
	z-index: 3;

}

.tltab {

	background-color: #EEF4DE;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	min-width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	cursor: pointer;
	pointer-events: auto;
	top: 15px;
	overflow: visible;
	pointer-events: auto;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
	
}
.tltab:hover {
	background-color: rgba(255, 255, 255, 0.5);
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	pointer-events: auto;
	height: 50px;
	top: 0;
	overflow-x: visible;
	width: auto;
	pointer-events: auto;

}
.tltab.selected {
	display: block;
	background-image:
	radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 10px, rgba(255, 255, 255, .7) 9px);
	background-color: rgba(255, 255, 255, 0);
	border-right: 2px solid #fff;
	border-left: 1px solid #D93B20;
	border-bottom: 1px solid #888;
	outline: 0px solid #fff;
	height: 36px;
	top: 0;
	overflow-x: visible;
	width: auto;
	pointer-events: auto;
	box-shadow: 0 1px 1px rgba(0,0,0,0.35);	
	z-index: 5;
	-webkit-transform: translateZ(4);

}
.tltab span {	
	display:none;
	height:auto;
	min-width:250px;
	width: auto;
	position:absolute;
	top: 12px;
	font-weight: 400;
    font-size: .7em ;
    color: #000;
    padding:   0 0 0 12px ;
	margin: 0;	
	overflow-x: visible;
	text-shadow:
	-1px -1px 0 #fff,  
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;

}
.tltab:hover span, [title~="sfhover"] span {	
    display:block;
	overflow: visible;
	min-width:250px;
	width: auto;	
}


* html a span { /*this is for IE as it positions the box to the right of the image */
	margin-left:-50px;
	margin-top:50px;
	overflow: visible;

}

@media all and (min-width: 480px) {
	
	
	#mainlabel.point > a, #mainlabel.expand > a {

		top: 10px;
		right: 10px;
		bottom: auto;
		left: auto;

	}
	#mainlabel.expand #external, #mainlabel.expand here, #mainlabel.expand text {

		width: 64%;

	}
	#mainlabel.expand images {
		
		width: 32%;
		
	}

}

@media all and (min-width: 600px) {

	#mainlabel.expand images {
		
		height: auto;
	}
	
	.items, .iframe {
		width: 44px;
		height: 44px;
	}
	
	images {
		
		min-height: 64px;
	}
	#mainlabel.point images {
		
		width: 64px;
	}
	#mainlabel.point here {
		
		min-height: 64px;
	}
}

@media all and (min-width: 768px) {



}

@media all and (orientation:portrait) {
    /* Styles for Portrait screen */

	#mainlabel.expand {

		overflow-y: scroll;

	}

}

@media all and (orientation:landscape) {

    /* Styles for Landscape screen */


	lightbox {

		position: relative;
		max-height: auto;
		width: auto!important;
		max-width: 60%;
		float: left;
		margin: 0 auto;
		display: inline-block;
		top: .6em;
		left: 0;
		bottom: auto;
		height: auto;
		min-height: auto;

	}
	
	lightbox img {
		
		min-height: 97%;
		max-height: 100%;
		
	}
	
	#mainlabel.point > images {
		
		bottom: 0;
		width: 64px;
		height: 64px;
		float: right;
		left: auto;
		
	}
	#mainlabel.point .items, #mainlabel.point .iframe {
		
		margin-right: 0;
		
	}
	#mainlabel.point text {
		
		left: 50%;
		position: absolute;
		width: auto;
		float: left;
		overflow-y: auto;
		overflow-x: hidden;
		pointer-events: auto;
		bottom: auto;
		min-height: 64px;
	}
	#mainlabel.expand > a {

		display: inline-block!important;
		left: auto;
		float: none;
		right: 0;
		bottom: 10px;
		top: auto;
		margin-top: auto;
		margin: auto, 0;
		position: absolute;

	}
	#mainlabel.expand #range {
		
		position: absolute;
		top: auto;
		bottom: auto;
		left: 70%;
		margin: 0;
		text-align: left;
		padding: 10px 0 0 0;
		
	}
	#mainlabel.expand images {
		
		max-height: 95%;
		width: 10%;
		
	}
	#mainlabel.expand text {
		
		max-height: 33%!important;
		height: auto!important;
		bottom: 0;
		top: 0;
		margin: 0;
	}
	#mainlabel.search > here {

		padding: .675em;

	}
	#mainlabel.expand #external, #mainlabel.expand here, #mainlabel.expand text {

		width: 27%;
		float: right;
		margin-right: 10px;
		padding-right: 10px;
	}

	.username {

		font-size: 3.1vmin;

	}


	@media all and (min-width: 768px) {

		#mainlabel.expand text {

			max-height: 60%!important;
		}
						
	}

	@media all and (min-width: 960px) {
	

	}


	@media all and (min-width: 1140px) {

	lightbox img {

		overflow-y: hidden;
		min-height: auto!important;
		max-height: 97.5%;
		bottom: 0;
		top: 0;

	}

	#mainlabel.list {

		right: auto;

	}


}
}

